<div class="site">
    <div class="coming-soon window-height" style="background-image: url(assets/img/404-bg.png)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="coming-soon-logo">
                    <img src="assets/img/logo-404.png" alt="">
                </div>
                <div class="coming-soon-box">
                    <h2>Coming Soon</h2>
                    <p>We are come back soon</p>
                
                </div>
            </div>
        </div>
    </div>
</div>               
</div>