<div class="site">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 logo-column">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="logo">
                        <img src="assets/img/waitqr-logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-6 col-sm-9 nav-column clearfix">
                    <div class="right-nav">
                        <span class="search-icon fa fa-search"></span>
                        <form action="#" class="search-form">
                            <input type="search" placeholder="search now">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class=" nav-item header-social">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                    <nav id="menu" class=" nav-item d-none d-lg-block">
                        <ul>
                            <li class="current-menu-item nav-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Inicio</a></li>
                            <li class="nav-item"><a [routerLink]="['/coming-soon']" routerLinkActive="router-link-active" >Planes</a></li>
                            <li class="nav-item"><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>        
    
    <div class="hero-slider">
        <div class="single-slide" style="background-image: url(./assets/img/slide1.jpg)">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slide-content">
                                <h2>Una experiencia contactless para tus comensales y analítica para tu negocio</h2>
                                <p>Ofrecemos un servicio integral, que te da control en tiempo real de tu restaurante y sus operaciones</p>
                                <div class="slide-btn">
                                    <a [routerLink]="['/contact-component']" routerLinkActive="router-link-active" >Contacto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="brand-area">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-6 single-brand">
            <div class="inner">
                <a href="#">
                    <img src="assets/img/brand1.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-6 single-brand">
            <div class="inner">
                <a href="#">
                    <img src="assets/img/brand2.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-6 single-brand">
            <div class="inner">
                <a href="#">
                    <img src="assets/img/brand3.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-6 single-brand">
            <div class="inner">
                <a href="#">
                    <img src="assets/img/brand4.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
</div><div class="service-area bg2 sp">
<div class="container">
    <h1 class="text-center">
        Nuestros Servicios
        <small class="text-muted">Diseñamos la experiencia contactless en tu negocio</small>
      </h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-film"></i>
                    </div>
                    <h4>Creacion de assets qr (servilleteros, pegatinas, letreros)</h4>
                </div>
                <div class="content">
                    <p>Te proporcionamos tus códigos QR personalizados en formato físico y digita</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-camera"></i>
                    </div>
                    <h4>Menu Digital</h4>
                </div>
                <div class="content">
                    <p>Te ayudamos a crear tu menu digital y te enseñamos a controlarlo en tiempo real</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-music"></i>
                    </div>
                    <h4>Analítica</h4>
                </div>
                <div class="content">
                    <p>Te damos información clave sobre tu negocio y tus operaciones tanto al minuto como a gran escala</p>
                </div>
            </div>
        </div>
<div class="container">
    <h1>
        Más servicios por venir
        <small class="text-muted">Estamos preparando más funciones</small>
      </h1>
</div>
        
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Sistema de promociones y descuentos</h4>
                </div>
                <div class="content">
                    <p>Utilizaremos los insights de tu negocio para proporcionarte las mejores ideas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h4>Integración con métodos de pago en línea</h4>
                </div>
                <div class="content">
                    <p>Pagos directamente desde la app, sin complicaciones</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 single-service">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <h4>División de cuentas</h4>
                </div>
                <div class="content">
                    <p>No más problemas para pagar en mesas largas</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div><div class="portfolio-area sp">
<div class="container">
    <div class="section-title">
        <h2>Ordenar nunca había sido tan fácil</h2>
        <p>Los comensales amarán tu negocio</p>
    </div>
    <div class="row">
        <div class="single-portfolio col-md-4">
            <div class="inner">
                <div class="portfolio-img">
                    <img src="assets/img/portfolio1.jpg" alt="portfolio-image">
                    <div class="hover-content">
                        <div>
                            <a href="#" class="button">Paso 1: Llegar y escanear qr</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-content">
                    <a href="#"><h3>Ve a tu restaurante favorito</h3></a>
                    <span>tranquilo, no tendrás que esperar para ordenar</span>
                </div>
            </div>
        </div>
        <div class="single-portfolio col-md-4">
            <div class="inner">
                <div class="portfolio-img">
                    <img src="assets/img/portfolio2.jpg" alt="portfolio-image">
                    <div class="hover-content">
                        <div>
                            <a href="#" class="button">Paso 2: Ver Menú y ordenar</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-content">
                    <a href="#"><h3>Toma asiento en una mesa libre</h3></a>
                    <span>ya estás listo para ordenar</span>
                </div>
            </div>
        </div>
        <div class="single-portfolio col-md-4">
            <div class="inner">
                <div class="portfolio-img">
                    <img src="assets/img/portfolio3.jpg" alt="portfolio-image">
                    <div class="hover-content">
                        <div>
                            <a href="#" class="button">Paso 3: Tu comida está lista</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-content">
                    <a href="#"><h3>Recibirás información sobre tu pedido</h3></a>
                    <span>notificaciones desde la cocina en tiempo real</span>
                </div>
            </div>
        </div>
        
</div>
</div><div class="testimonial-area sp bg1">
<div class="container">
    <div class="section-title white">
        <h2>Opiniones de nuestros usuarios</h2>
        <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
    </div>
    <div class="testimonial-slider">
        <div class="single-slide">
            <div class="inner">
                <p>El futuro de los restaurantes, ofrece una experiencia única para tu negocio a un precio muy accesible</p>
                <div class="client-info">
                    <div class="client-img">
                        <img src="assets/img/client.jpg" alt="client">
                    </div>
                    <div class="client-data">
                        <h4>Alejandro Coronado</h4>
                        <span>CEO Banco Paga Todo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <div class="inner">
                <p>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official.</p>
                <div class="client-info">
                    <div class="client-img">
                        <img src="assets/img/client.jpg" alt="client">
                    </div>
                    <div class="client-data">
                        <h4>Jhon Doe</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <div class="inner">
                <p>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official.</p>
                <div class="client-info">
                    <div class="client-img">
                        <img src="assets/img/client.jpg" alt="client">
                    </div>
                    <div class="client-data">
                        <h4>Jhon Doe</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <div class="inner">
                <p>When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing the video official.</p>
                <div class="client-info">
                    <div class="client-img">
                        <img src="assets/img/client.jpg" alt="client">
                    </div>
                    <div class="client-data">
                        <h4>Jhon Doe</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><div class="faq-area sp bg2">
<div class="container">
    <div class="section-title">
        <h2>Preguntas Frecuentes</h2>
        <p>¿Tienes más dudas? <a href="mailto:contacto@waitqrapp.com">Contáctanos</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="faq">
                <div class="single-item">
                    <h4>Necesito adaptar este servicio a mi restaurante, ¿es posible?</h4>
                    <div class="content">
                        Claro que es posible, con la ayuda de nuestros asesores expertos, te ofrecemos una experiencia a la medida de tus necesidades.
                    </div>
                </div>
                <div class="single-item">
                    <h4>¿Puedo adquirir solo una parte del servicio? </h4>
                    <div class="content">
                        Si, ofrecemos distintos niveles de acuerdo a las necesidades de tu negocio, <a href="mailto:contacto@waitqrapp.com">Contáctanos</a> para más información
                    </div>
                </div>
                <div class="single-item">
                    <h4>¿Cuales son sus costos?</h4>
                    <div class="content">
                        Ofrecemos precios accesibles de acuerdo a las necesidades de tu negocio, desde $999.00 anuales (iva incluido)
                    </div>
                </div>
                <div class="single-item">
                    <h4>¿Qué los diferencía de los demás?</h4>
                    <div class="content">
                       Ofrecemos un diseño de experiencia libre de contacto para tu negocio, te damos todo lo necesario para que digitalices tu restaurante
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faq-img text-center">
                <img src="assets/img/fag-img.png" alt="faq">
            </div>
        </div>
    </div>
</div>
</div><footer>
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Quienes somos</h4>
                    <p>Somos una start up mexicana que busca ofrecer un servicio integral a los restauranteros y comensales a través de una plataforma web</p>
            
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Conócenos</h4>
                    <ul>
                        <li><a href="#">Javier Bonilla, CEO</a></li>
                        <li><a href="#">Esteban Cortés Lozano, CTO</a></li>
                        <li><a href="#">Únete al equipo</a></li>
                        <li><a href="#">¿Quieres apoyarnos?</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Actualizaciones</h4>
                    <div class="media">
                        <a href="#">
                            <img src="assets/img/recent1.jpg" class="d-flex mr-3" alt="">
                        </a>
                        <div class="media-body">
                            <h5>
                                <a href="#">Desarrollo v1.0 por comenzar</a>
                            </h5>
                            <span>August 22, 2020</span>
                        </div>
                    </div>
                    <div class="media">
                        <a href="#">
                            <img src="assets/img/recent2.jpg" class="d-flex mr-3" alt="">
                        </a>
                        <div class="media-body">
                            <h5>
                                <a href="#">Diseño UX/UI terminado</a>
                            </h5>
                            <span>August 15, 2020</span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Dirección</h4>
                    <h5>Flat Pro, Inc.</h5>
                    <p>Calle 3 Picos 65 <br> Polanco V, Miguel Hidalgo, Ciudad de México, Mexico 11560<br>P: (55)6679 6004</p>
                    <h4>Newsletter</h4>
                    <form action="#" class="nw_form">
                        <input placeholder="Enter your email" type="email">
                        <button><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright-txt">
                    © 2017 Flat Pro. All Rights Reserved.
                </div>
            </div>

        </div>
    </div>
</div>
</footer>
</div>