<div class="site">    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 logo-column">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="logo">
                        <img src="assets/img/waitqr-logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-6 col-sm-9 nav-column clearfix">
                    <div class="right-nav">
                        <span class="search-icon fa fa-search"></span>
                        <form action="#" class="search-form">
                            <input type="search" placeholder="search now">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="header-social">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                    <nav id="menu" class="d-none d-lg-block">
                        <ul>
                            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Inicio</a></li>
                            <li><a [routerLink]="['/coming-soon']" routerLinkActive="router-link-active">Planes</a></li>
                            <li class="current-menu-item"><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>    <div class="page-title sp" style="background-image: url(assets/img/page-title.jpg)">
<div class="container text-center">
    <h2>Contact Us</h2>
    <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
</div>
</div>        
<div class="contact-area sp">
<div class="container">
    <div class="row">
        <div class="col-md-5 contact-info">
            <div class="single-info">
                <h5>Phone</h5>
                <p>+(121) - 237 - 979 - 3580</p>
            </div>
            <div class="single-info">
                <h5>Email</h5>
                <p>esmeralda_walsh@lucy.name</p>
            </div>
            <div class="single-info">
                <h5>Address</h5>
                <p>30 Heathcote Vista, Cassinfort, LA</p>
            </div>
            <div class="single-info">
                <h5>Social</h5>
                <p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </p>
            </div>
        </div>
        <div class="col-md-7">
            <form action="#" class="contact-form">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="col-lg-6">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="col-lg-12">
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <input class="button" type="submit" value="Send Message">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>    <div class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43546.86165317726!2d-0.1304800562216428!3d51.50205515285579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sbd!4v1506591318507"></iframe>
</div>    <footer>
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>About</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, antesenectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Company Overview</a></li>
                        <li><a href="#">Meet The Team</a></li>
                        <li><a href="#">Our Awesome Partners</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Recent Posts</h4>
                    <div class="media">
                        <a href="#">
                            <img src="assets/img/recent1.jpg" class="d-flex mr-3" alt="">
                        </a>
                        <div class="media-body">
                            <h5>
                                <a href="#">Curling irons are as individual as the women</a>
                            </h5>
                            <span>June 22, 2017</span>
                        </div>
                    </div>
                    <div class="media">
                        <a href="#">
                            <img src="assets/img/recent2.jpg" class="d-flex mr-3" alt="">
                        </a>
                        <div class="media-body">
                            <h5>
                                <a href="#">Curling irons are as individual as the women</a>
                            </h5>
                            <span>June 22, 2017</span>
                        </div>
                    </div>
                    <div class="media">
                        <a href="#">
                            <img src="assets/img/recent3.jpg" class="d-flex mr-3" alt="">
                        </a>
                        <div class="media-body">
                            <h5>
                                <a href="#">Curling irons are as individual as the women</a>
                            </h5>
                            <span>June 22, 2017</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_widget">
                <div class="inner">
                    <h4>Address</h4>
                    <h5>Flat Pro, Inc.</h5>
                    <p>649 Folsom Ave, Suite 400 <br>San Francisco, CA 63105 <br>P: (123) 456-7890</p>
                    <h4>Newsletter</h4>
                    <form action="#" class="nw_form">
                        <input placeholder="Enter your email" type="email">
                        <button><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright-txt">
                    © 2017 Flat Pro. All Rights Reserved.
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <div class="footer-nav">
                    <a href="#">Home</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Pages</a>
                    <a href="#">Shortcode</a>
                    <a href="#">Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
</div>